<nav class="navbar navbar-expand-lg navbar-light bg-white main-nav">
    <!-- <a class="navbar-brand" [routerLink]="['/']">
        <img  alt="Naukri Waala" src="{{img_url}}naukri-waala.png">
    </a> -->
    <div class="container">
        <h4 class="myname"><a [routerLink]="['/']">Tushar Gulyani</a></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navcollapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto main-navbar">
            <a class="nav-link" [routerLink]="['/']">Home</a>
            <a class="nav-link"  [routerLink]="['/']" >About</a>
            <a class="nav-link"  [routerLink]="['/']" >Resume</a>
            <a class="nav-link"  [routerLink]="['/']" >Certifcation</a>
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </ul>
    </div>
    </div>
</nav>